@tailwind base;
@tailwind components;
@tailwind utilities;


#menu-icon{
  font-size: 2rem;
  color: #ad07ad;
}

.inputs{
  display: block;
  color: white;
  font-weight: 800;
  padding: 10px;
  border: solid 1px blueviolet;
  background-color: #01121d;
  outline: none;
  font-size: medium;
}

/* text animation */
.text-animation{
  font-size: 34px;
  font-weight: 600;
  min-width: 200px;
}
.text-animation span{
  position: relative;
}
.text-animation span::before{
  content: "Web Developer";
  color: #7705fa;
  font-weight: bold;
  font-size: 30px;
  animation: words 20s infinite;
}
.text-animation span::after{
  content: "";
  background-color: #020617;
  position: absolute;
  width: calc(100% + 8px);
  height: 117%;
  border-left: 3px solid var(--bgg-color);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor{
  to{
    border-left: 2px solid var(--main-color);
  }
}

@keyframes words{
  0%,
  20%{
    content: "Frontend Dev";
  }
  21%,
  40%{
    content: "Web Developer";
  }
  41%,
  60%{
    content: "Code Writer";
  }
  61%,
  80%{
    content: "Mobile Developer";
  }
}

@keyframes typing{
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  90%,
  95%{
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  80%,
  85%{
    width: calc(100% + 8px)
  }
}

/* main styling */
.splash-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #01121d;
  color: white;
  text-align: center;
  transition: opacity 1s ease-in-out;
  padding: 20px;
}

.welcome-image {
  width: 200px; /* Adjust the size as needed */
  height: auto;
  margin-bottom: 20px;
  animation: fade-in-image 1s forwards;
}
.dashimage{
  animation: fade-in-image 1s forwards;
}
.media{
  animation: fade-in-image 1s forwards;
}

.welcome-text {
  animation: slide-in 1s forwards;
}
.dash-text {
  animation: slide-in 1s forwards;
}
.sent-text {
  animation: slide-down 1s forwards;
}
.dashsub-text{
  animation: slide-in 1s forwards;
  animation-delay: 0.5s;
}

.sub-text {
  font-size: 1.5rem;
  animation: slide-in 1.5s forwards;
  animation-delay: 0.5s;
}

.tagline {
  font-size: 1.2rem;
  animation: slide-in 2s forwards;
  animation-delay: 1s;
}
.tagleft{
  animation: slide-left 2s forwards;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

@keyframes slide-left {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-down {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
    transition: ease-out;
  }
}

@keyframes fade-in-image {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
